@tailwind base;
@tailwind components;
@tailwind utilities;

body, .projects{
  -webkit-font-smoothing: antialiased;
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar, .projects::-webkit-scrollbar{
	display: none;
}
