@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./cursor.css');

body,
.projects {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar,
.projects::-webkit-scrollbar {
  display: none;
}

::selection {
  color: rgb(49, 49, 47);
  background: rgb(166, 161, 136);
}

.projectImage {
  filter: sepia(100%) hue-rotate(10deg) grayscale(50%) brightness(120%);
}