@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Concielian";
  src: url("../../public/fonts/concielianjetexpand.ttf");
}

@font-face {
  font-family: "RodinProM";
  src: url("../../public/fonts/FOT-Rodin Pro M.otf");
}

@font-face {
  font-family: "RodinProDB";
  src: url("../../public/fonts/FOT-Rodin Pro DB.otf");
}

@font-face {
  font-family: "RodinProL";
  src: url("../../public/fonts/FOT-Rodin Pro L.otf");
}

body{
  -webkit-font-smoothing: antialiased;
}

.loadingList{
  text-transform: capitalize;

  text-shadow: 
    0.03em 0.03em 0em #91433B,
    -0.03em -0.03em 0em #314E45
}

.glitch {
  text-transform: uppercase;

  text-shadow: 
    0.03em 0.03em 0.05em #91433B,
    -0.03em -0.03em 0.05em #314E45,
    0 0 3px #FAF8EF;
}